body {
    background-color: $background-color;
    font-family: $main-font;
}
.botao_default {
    padding: 10px 25px;
    text-decoration: none;
    font-weight: 500;
    border: none;
    background-color: $white;
    color: rgba(0, 0, 0, 0.850);
    border-radius: 16px;
    letter-spacing: -1px;
    text-align: center;
    transition: $transition;
    &:hover {
        color: black;
        box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.379);
    }
    a {
        color: rgba(0, 0, 0, 0.850);
        text-decoration: none;
    }
}
::-webkit-scrollbar {
    width: 0;
}
#scrollPath {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
}
#progressBar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #111967, #2937d6);
    animation: animate 3s linear infinite;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #111967, #2937d6);
        filter: blur(10px);
    }
    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to top, #111967, #2937d6);
        filter: blur(30px);
    }
}

//Animations
@keyframes animate {
    0%, 100% {
        filter:hue-rotate(0deg);
    }
    50% {
        filter: hue-rotate(30deg);
    }
}