.header {
    margin-bottom: 1.6rem;
}
#navbarHeader {
    align-items: center;
    &__link {
        color: $white;
        cursor: default;
        &--text {
            font-family: $alt-font;
            font-weight: 600;
            font-size: 2.4rem;
        }
    }
    &__list {
        &--link {
            color: $white;
            text-decoration: none;
            text-decoration-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            transition: $transition;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
        &--item {
            font-size: $mediumLow-fontSize;
            margin: 20px 0 20px 1.6rem;    
        }
    }
}
.space {
    aspect-ratio: 960/300;
    width: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: -2;
}
.layer-header {
    background-image: url("../img/background-header.svg");
}
@media only screen and (max-width: 767px) {
    .layer-header {
        background-image: url("../img/background-headerTablet.svg");
    }
    #navbarHeader {
        padding: 20px 0;
    }
}
@media only screen and (max-width: 550px) {
    .layer-header {
        background-image: url("../img/background-headerMobile.svg");
    }
}