.header {
    margin-top: 1.6rem;
}
#navbarHeader {
    align-items: center;
    &__link {
        color: $white;
        cursor: default;
        &--text {
            font-size: $medium-fontSize;
        }
    }
    &__list {
        &--link {
            color: $white;
            text-decoration: none;
            text-decoration-color: rgba(255, 255, 255, 0);
            cursor: pointer;
            transition: $transition;
            &:hover {
                color: $white;
                text-decoration: underline;
            }
        }
        &--item {
            font-size: $mediumLow-fontSize;
            margin: 20px 0 20px 1.6rem;
            
        }
    }
}