.modal-dialog {
    max-width: 900px;
}
.modal-header {
    background: linear-gradient(to top, #111967, #2937d6);
    color: $white;
    border: none;
}
.modal-body {
    padding: 0;
    .row {
        --bs-gutter-x: 0;
    }
    .info {
        background-color: $white;
        h3 {
            text-align: center;
            font-size: $medium-fontSize;
            font-family: $alt-font;
            margin-top: 5px;
        }
        p {
            margin: 0 10px;
            line-height: 1;
            text-align: center;
        }
        &__socialMedias {
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            a {
                text-decoration: none;
            }
            &--item {
                h6 {
                    cursor: pointer;
                }
            }
        }
    }
    .form {
        background-color: #111967;
        padding: 20px 0;
        &__form {
            display: flex;
            flex-direction: column;
            align-items: center;
            div {
                width: 80%;
            }
            &--input {
                background: transparent;
                color: $white;
                border: 2px solid $white;
                padding: 5px;
                margin: 5px 0;
                width: 100%;
            }
            textarea {
                max-height: 120px;
                min-height: 120px;
                resize: none;
            }
            &--btn {
                padding: 9px 30px;
                font-size: $low-fontSize;
                color: $white;
                border-radius: 40px;
                background: transparent;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                border: 2px solid $white;
                transition: $transition;
                p {
                    margin: 0;
                    width: 100%;
                    i {
                        font-size: 0.95rem;
                        color: rgba(255, 255, 255, 0.8);
                    }
                }
                &:hover {
                    border: 2px solid transparent;
                    background-color: $white;
                    color: black;
                    i {
                        color: rgba(0, 0, 0, 0.8);
                    }
                }
            }
        }
    }
}
::placeholder {
    color: $white;
    opacity: 1;
}
@media only screen and (max-width: 900px) {
    .modal-dialog {
        max-width: 95%;
    }
}