.showCase {
    &__div {
        display: flex;
        align-items: center;
    }
    &__info {
        color: $white;
        h2 {
            font-size: $medium-fontSize;
            font-weight: 300;
        }
        h1 {
            font-size: $big-fontSize;
            padding: 12px 0 0 0;
        }
        p {
            font-size: $low-fontSize;
            padding: 12px 0;
            span {
                font-weight: 500;
                color: white;
            }
        }
    }
    &__img {
        width: 800px;
    }
    &__imgDiv {
        display: flex;
        justify-content: right;
    }
}
@media only screen and (max-width: 576px) {
    .showCase {
        text-align: center;
    }
}