.showCase {
    overflow: hidden;
    position: relative;
    &__shapes {
        &--item1 {
            position: absolute;
            z-index: -1;
            bottom: 30px;
            left: -60px;
            height: 170px;
        }
        &--item2 {
            position: absolute;
            z-index: -2;
            top: 0;
            right: -70px;
            height: 170px;
        }
    }
    &__div {
        display: flex;
        align-items: center;
    }
    &__info {
        color: $white;
        h2 {
            font-size: $medium-fontSize;
            font-weight: 300;
        }
        h1 {
            font-size: $big-fontSize;
            padding-top: 10px;
            font-family: $alt-font;
            font-weight: 600;
        }
        p {
            font-size: $low-fontSize;
            padding: 12px 0;
            span {
                font-weight: 600;
                color: white;
            }
        }
    }
    &__img {
        width: 800px;
    }
    &__imgDiv {
        display: flex;
        justify-content: right;
    }
}
@media only screen and (max-width: 576px) {
    .showCase {
        text-align: center;
    }
}