// FontSize - Variables
$low-fontSize: 1.125rem;
$mediumLow-fontSize: 1.375rem;
$medium-fontSize: 2rem;
$big-fontSize: 3rem;
// FontFamlies
$main-font: 'Inter', sans-serif;
$alt-font: 'Playfair Display', serif;
// Colors - Variables
$white: #F9F5FF;
$background-color: #05071e;
// Outros
$transition: all 0.5s ease-in-out;
