@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600&display=swap");
.header {
  margin-bottom: 1.6rem;
}

#navbarHeader {
  align-items: center;
}
#navbarHeader__link {
  color: #F9F5FF;
  cursor: default;
}
#navbarHeader__link--text {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 2.4rem;
}
#navbarHeader__list--link {
  color: #F9F5FF;
  text-decoration: none;
  text-decoration-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
#navbarHeader__list--link:hover {
  color: #F9F5FF;
  text-decoration: underline;
}
#navbarHeader__list--item {
  font-size: 1.375rem;
  margin: 20px 0 20px 1.6rem;
}

.space {
  aspect-ratio: 960/300;
  width: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.layer-header {
  background-image: url("../img/background-header.svg");
}

@media only screen and (max-width: 767px) {
  .layer-header {
    background-image: url("../img/background-headerTablet.svg");
  }

  #navbarHeader {
    padding: 20px 0;
  }
}
@media only screen and (max-width: 550px) {
  .layer-header {
    background-image: url("../img/background-headerMobile.svg");
  }
}
body {
  background-color: #05071e;
  font-family: "Inter", sans-serif;
}

.botao_default {
  padding: 8px 25px;
  font-weight: 500;
  border: none;
  background-color: #F9F5FF;
  color: rgba(0, 0, 0, 0.85);
  border-radius: 16px;
  letter-spacing: -1px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.botao_default:hover {
  color: black;
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.379);
}
.botao_default a {
  color: rgba(0, 0, 0, 0.85);
  text-decoration: none;
}

.showCase__div {
  display: flex;
  align-items: center;
}
.showCase__info {
  color: #F9F5FF;
}
.showCase__info h2 {
  font-size: 2rem;
  font-weight: 300;
}
.showCase__info h1 {
  font-size: 3rem;
  padding-top: 10px;
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.showCase__info p {
  font-size: 1.125rem;
  padding: 12px 0;
}
.showCase__info p span {
  font-weight: 600;
  color: white;
}
.showCase__img {
  width: 800px;
}
.showCase__imgDiv {
  display: flex;
  justify-content: right;
}

@media only screen and (max-width: 576px) {
  .showCase {
    text-align: center;
  }
}
.aboutMe__title {
  color: #F9F5FF;
  font-size: 2rem;
  text-align: center;
  margin: 40px 0;
}
.aboutMe__img {
  width: 580px;
}
.aboutMe__text {
  color: #F9F5FF;
}
.aboutMe__text span {
  font-weight: 500;
  color: white;
}

@media only screen and (max-width: 576px) {
  .aboutMe {
    text-align: center;
  }
  .aboutMe__img {
    display: none;
  }
}
.footer {
  margin: 30px 10px;
  color: #F9F5FF;
  align-items: center;
}
.footer__list--icon {
  margin-left: 50px;
}
.footer__list--link {
  color: #F9F5FF;
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}
.footer__list--link:hover {
  color: white;
}

@media only screen and (max-width: 767px) {
  .footer__up {
    display: none;
  }
  .footer__list {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .footer__list--icon {
    margin: 0;
  }
  .footer p {
    margin-top: 25px;
    text-align: center;
  }
}
.projects__title {
  color: #F9F5FF;
  font-size: 2rem;
  text-align: center;
  margin: 40px 0;
}

.card {
  border: none;
  background-color: #05071e;
}
.card__img {
  width: 100%;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
.card__img img {
  display: block;
  width: 100%;
  border-radius: 30px;
}
.card__img__btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.card__img__btn:hover {
  opacity: 1;
}
.card__img__btn--site {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #F9F5FF;
  color: #F9F5FF;
  border-radius: 7px;
  padding: 2px 12px;
  letter-spacing: -1px;
  font-size: 1.125rem;
  margin-bottom: 5px;
  transition: all 0.5s ease-in-out;
}
.card__img__btn--site:hover {
  background-color: #F9F5FF;
  border: 2px solid transparent;
  color: black;
}
.card__img__btn--code {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #F9F5FF;
  color: #F9F5FF;
  border-radius: 7px;
  padding: 2px 12px;
  letter-spacing: -1px;
  font-size: 1.125rem;
  margin-top: 5px;
  transition: all 0.5s ease-in-out;
}
.card__img__btn--code:hover {
  background-color: #F9F5FF;
  border: 2px solid transparent;
  color: black;
}
.card__info {
  color: #F9F5FF;
}
.card__info--p {
  font-size: 1.125rem;
  margin: 16px 0;
}
.card__info__div--btn {
  background-color: #05071e;
  color: #F9F5FF;
  border: 2px solid #F9F5FF;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
}
.card__info__div--btn:hover {
  border-color: #05071e;
  color: #05071e;
  background-color: #F9F5FF;
}

@media only screen and (max-width: 767px) {
  .card {
    text-align: center;
  }
  .card__img {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
